#response {
  height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}
.dark-mode .navbar {
  background-color: #222;
}
.dark-mode .form-control {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}
.dark-mode .form-control::placeholder {
  color: #ffffff9f;
  opacity: 1; /* garante opacidade total em alguns navegadores */
}
.dark-mode .btn {
  border: 1px solid #bbb;
}
.dark-mode pre {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

/* Switch estilizado */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  transform: translateX(14px);
}
.dangerRequest{
  color: red;
}
.sucessRequest{
  color: green;
}